/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Opciones deshabilitadas en los selects */
option[disabled] {
    color: #999 !important;
}

/* Mensaje de éxito */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
}

.modal-content {
    background-color: #f8f9fa; /* Fondo más claro */
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Placeholder más opaco */
}

/* Hace que la opción por defecto se vea más opaca */
select option[disabled] {
    color: rgba(236, 227, 227, 0.5); /* Color gris tenue */
}

select:invalid {
color: rgba(0, 0, 0, 0.5); /* Gris opaco */
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color: #ffffff;
    border: 2px solid #ced4da;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 100%;
    
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

/* Cambia el color al hacer foco */
select:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

table {
    font-size: 15px; /* Reducir el tamaño de la fuente */
    width: 100%; /* Asegurar que la tabla ocupa todo el ancho disponible */
}

td {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ffffff; /* Color de fondo */
    font-weight: bold; /* Texto en negrita */
    text-align: left; /* Alinear el texto a la izquierda */
    padding: 10px; /* Espaciado interno */
    border-bottom: 2px solid #000; /* Línea debajo */
}

.table-responsive {
    overflow-x: auto; /* Permite hacer scroll horizontal si es necesario */
}

.text-truncate {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {
    width: 50px;  /* Ajusta el tamaño */
    height: auto;
}



